@import url('personaldata.css');
@import url('list.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
   font-family: Roboto, sans-serif;
   font-size: 62.5%; 
}

p {
    font-size: 1.6rem;
}


