.personaldata{
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Farstechnica.com%2Fgadgets%2F2023%2F06%2Fi-just-found-out-that-microsoft-made-a-4k-version-of-the-windows-xp-wallpaper%2F&psig=AOvVaw2-Tsk-H4-S790Q4j7NyOBs&ust=1695385719323000&source=images&cd=vfe&opi=89978449&ved=0CA4QjRxqFwoTCKj9vI7au4EDFQAAAAAdAAAAABAD);
}

.personaldata h1 {
  font-size: 2rem;
  color: brown;
  border: 1px solid gray;
  background-color: bisque;
  background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Farstechnica.com%2Fgadgets%2F2023%2F06%2Fi-just-found-out-that-microsoft-made-a-4k-version-of-the-windows-xp-wallpaper%2F&psig=AOvVaw2-Tsk-H4-S790Q4j7NyOBs&ust=1695385719323000&source=images&cd=vfe&opi=89978449&ved=0CA4QjRxqFwoTCKj9vI7au4EDFQAAAAAdAAAAABAD);
}
